/*主体*/
.main {
  width: 100%;
  min-width: 1000px;
  min-height: 620px;
  background: #338BC1;
  padding-bottom: 50px;
}
.main h3 {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  line-height: 60px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
}
.main .content {
  width: 1000px;
  min-width: 1000px;
  min-height: 500px;
  background: #fff;
  margin: 0 auto;
  border-top: 1px solid #fff;
}
.main .content .top {
  width: 760px;
  border-radius: 5px;
  border: 1px solid #ccd3df;
  margin: 29px auto;
  font-size: 12px;
  line-height: 26px;
}
.main .content .top .title{
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ccd3df;
  font-weight: bold;
  padding: 0 20px;
  font-size: 14px;
}
.main .content .top ul{
  padding: 5px;
}
.main .content .top ul:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.main .content .top ul>li{
  float: left;
  width: 20%;
  text-align: center;
  padding: 5px 0;
}
.main .content .top ul>li a{
  color: gray;
}
.main .content .bottom {
  min-height: 252px;
  width: 760px;
  margin: 0 auto;
}
.main .content .bottom li {
  height: 36px;
  width: 100%;
  line-height: 36px;
  padding: 0 10px;
  color: gray;
}
.main .content .bottom li a {
  color: gray;
  display: inline-block;
  width: 600px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.main .content .bottom li span {
  float: right;
}
.main .content .bottom li span i {
  font-style: normal;
}
.main .content .bottom li:nth-child(odd) {
  background: #F1F0F0;
}
.main .content .bottom li:nth-child(even) {
  background: #F7F7F7;
}
